/* =================================================================================================================================
STYLES
================================================================================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,800&display=swap');

.fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
}

/* =================================================================================================================================
HEADER
================================================================================================================================= */
/* Navbar */

.header-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header-item--logo {
   width: 100%;
   text-align: center;
}

.header-item--logo img{
    width: 137px;
    height: 34px;
    max-width: 100%;
}

.site-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}